@import "tailwindcss";
@import './Header.css';
:root {
  --sidebar-bg: #1e2d4f;
  --sidebar-text: rgb(255, 255, 255);

  --sidebar-link: rgb(255, 255, 255);
  --sidebar-underline: none;

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --bg-mute: hsl(240, 4%, 91%);
  --text: oklch(0.15 0 0);
  --muted-text: #6b7280;

}

.dark {
  --sidebar-bg: #1e2d4f;
  --sidebar-text: rgb(255, 252, 252);
  --sidebar-link: white;
  --sidebar-underline: none;

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  --bg-mute: hsl(240, 3.7%, 15.9%);
  --text: oklch(0.95 0 0);
  --muted-text: #94a3b8;

}

.subjectSystemColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
  margin-bottom: 10px;
}

.tabsList {
  background-color: var(--bg-mute);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px;
  padding: 4px;
  height: auto; /* Don't force height */
}

.tab-btn {
  display: flex;
  align-items: center;      
  justify-content: center; 
  height: 40px;            
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
  color: var(--text);
}

.tab-btn[data-state="active"] {
  background-color: var(--bg);
  color: var(--text);
  box-shadow: inset 0 0 0 1px var(--accent);
}
table td {
  text-align: center;
}
.custom-navbar {
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 32px;
}

.custom-navbar .navbar-brand {
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.9rem;
}




/* @theme inline {
  --color-sidebar: var(--sidebar-bg);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }

  body {
    @apply bg-background text-foreground;

  }

} */